<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DAHUA_IP" value="192.168.1.142" />
    <add key="DAHUA_PORT" value="37777" />
    <add key="DAHUA_USERNAME" value="admin" />
    <add key="DAHUA_PASSWORD" value="" />
    <add key="DAHUA_CHANNEL" value="1" />
  </appSettings>
</configuration>
